textarea {
    min-height: 400px;
}

.list-group a:hover {
    color: #495057;
    text-decoration: none;
    background-color: #f8f9fa;
    cursor: pointer;
}

.list-group a:active {
    color: #212529;
    background-color: #e9ecef;
}