{% extends "mail/layout.html" %}
{% load static %}

{% block body %}
<h2>{{ request.user.email }}</h2>

<button class="btn btn-sm btn-outline-primary" id="inbox">Inbox</button>
<button class="btn btn-sm btn-outline-primary" id="compose">Compose</button>
<button class="btn btn-sm btn-outline-primary" id="sent">Sent</button>
<button class="btn btn-sm btn-outline-primary" id="archived">Archived</button>
<a class="btn btn-sm btn-outline-primary" href="{% url 'logout' %}">Log Out</a>
<hr>

<div id="emails-view">
</div>

<div id="compose-view">
    <h3>New Email</h3>

    <form id="compose-form">

        <div class="mb-3">
            <label for="compose-sender" class="form-label">From</label>
            <input disabled type="text" class="form-control" id="compose-sender" value="{{ request.user.email }}">
        </div>
        <div class="mb-3">
            <label for="compose-recipients" class="form-label">To:</label>
            <input type="text" class="form-control" id="compose-recipients">
        </div>
        <div class="mb-3">
            <input type="text" class="form-control" placeholder="Subject" id="compose-subject">
        </div>
        <div class="mb-3">
            <textarea class="form-control" id="compose-body" rows="8" placeholder="Body" id="compose-body"></textarea>
        </div>
        <input type="submit" class="btn btn-primary" />
    </form>
</div>

<div id="detail-view">
</div>

{% endblock %}

{% block script %}
<script src="{% static 'mail/inbox.js' %}"></script>
{% endblock %}